<div
  class="container"
  [style.height]="deletePage || changePassword ? '205px' : '275px'"
>
  <div
    class="content"
    *ngIf="!deletePage && !changePassword"
    [@.disabled]="animationDisabled"
    @firstStepAnimation
  >
    <div
      class="settings"
      [class]="imageUrl ? 'avatar-wrapper' : 'icon-wrapper'"
      (click)="fileInput.click()"
    >
      <mat-icon class="icon" *ngIf="!imageUrl">camera_enhance</mat-icon>
      <img
        *ngIf="imageUrl"
        class="avatar"
        [src]="imageUrl"
        alt="Profile avatar"
      />
      <input
        #fileInput
        (change)="imageSelect($event)"
        hidden
        type="file"
        accept="image/png, image/gif, image/jpeg"
      />
      <div class="image-cover" *ngIf="imageUrl">
        <span class="plus-icon">+</span>
      </div>
      <div class="image-cover loading" *ngIf="imageLoading">
        <app-loading-spinner-small></app-loading-spinner-small>
      </div>
    </div>

    <div class="header"><h3>Мой профиль</h3></div>
    <div class="username">{{ username }}</div>
    <div class="email">{{ "(" + userEmail + ")" }}</div>
    <div class="buttons">
      <hr class="separator" />
      <button class="options" (click)="onPasswordChange()">
        Сбросить пароль
      </button>
      <hr class="separator" />
      <button class="options" (click)="onDelete()">Удалить аккаунт</button>
      <hr class="separator" />
      <button class="options" (click)="logout()">Выйти</button>
    </div>
  </div>
  <div class="content" *ngIf="deletePage" @nextStepAnimation>
    <div class="header">
      <!-- <img
        src="/assets/svg-icons/arrow-icon.svg"
        alt="back to first step button"
        class="back-icon"
        (click)="backToSettings('delete')"
      /> -->
      <mat-icon class="back-icon" (click)="backToSettings('delete')"
        >keyboard_backspace</mat-icon
      >
      <h3>Удалить аккаунт</h3>
    </div>
    <div class="info">
      <p class="delete-alert">
        После удаления аккаунта вы потеряете доступ к своим данным
      </p>
      <button class="button delete" (click)="deleteAccount()">
        Удалить аккаунт
      </button>
    </div>
  </div>
  <div class="content" *ngIf="changePassword" @nextStepAnimation>
    <div class="header">
      <mat-icon class="back-icon" (click)="backToSettings('reset')">
        keyboard_backspace</mat-icon
      >
      <h3>Сбросить пароль</h3>
    </div>
    <div class="info">
      <p>Инструкции по восстановлению пароля будут отправлены на эту почту:</p>
      <p style="font-weight: 600">{{ userEmail }}</p>
      <button *ngIf="!emailSent" class="button reset" (click)="resetPassword()">
        <p *ngIf="!sendingEmail">Сбросить пароль</p>
        <app-loading-spinner-small
          *ngIf="sendingEmail"
        ></app-loading-spinner-small>
      </button>
      <p class="email-sent" *ngIf="emailSent">
        Письмо отправлено, <br />
        Пожалуйста, проверьте свою почту
      </p>
    </div>
  </div>
</div>
