<div class="container">
  <h3 class="header">
    {{
      info.data === "auth"
        ? "Вы уверены что хотите покинуть данную форму?"
        : "Вы уверены что хотите удалить свой аккаунт?"
    }}
  </h3>
  <p>
    {{
      info.data === "auth"
        ? "У вас есть несохраненная информация, и она будет утеряна."
        : "Это действие необратимо, вы уверены что хотите удалить свой аккаунт?"
    }}
  </p>
  <div class="buttons">
    <button class="button cancel" (click)="return(false)">Cancel</button>
    <button class="button confirm" (click)="return(true)">Yes</button>
  </div>
</div>
