.auth-login {
  height: 100%;
  position: relative;
}
.loading-spinner {
  position: absolute;
  top: 40%;
  left: 37%;
}
.auth-step {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  overflow: hidden;
  transition: opacity 0.5s;
}
.auth-step-loading {
  opacity: 0;
}
