<div class="auth-login" [@.disabled]="animationDisabled">
  <div class="loading-spinner" *ngIf="isLoading && !firstStep">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <app-first-step
    (nextStep)="nextStep($event)"
    class="auth-step"
    *ngIf="firstStep"
    @firstStepAnimation
  ></app-first-step>
  <app-second-step
    class="auth-step"
    [class.auth-step-loading]="isLoading"
    *ngIf="!firstStep && !passwordReset"
    @nextStepAnimation
    [isRegistered]="isRegistered"
    [email]="email"
    [error]="error"
    (submitForm)="submitData($event)"
    (passwordReset)="resetPassword()"
    (firstStep)="backToFirstStep()"
  />
  <app-reset-password
    class="auth-step"
    *ngIf="passwordReset"
    [email]="email"
    (backToAuth)="backToAuth()"
    @nextStepAnimation
  />
</div>
