<div class="header">
  <mat-icon class="icon-back" (click)="back()">keyboard_backspace</mat-icon>
  <h3 class="registration-header" style="width: 325px">Восстановить пароль</h3>
</div>
<div class="reset-password">
  <p>Инструкции по восстановлению пароля будут отправлены на эту почту:</p>
  <p style="font-weight: 600">{{ email }}</p>
  <button *ngIf="!emailSent" class="button-reset" (click)="sendResetEmail()">
    <app-loading-spinner-small *ngIf="sendingEmail"></app-loading-spinner-small>
    <p *ngIf="!sendingEmail">Сбросить пароль</p>
  </button>
  <p class="email-sent" *ngIf="emailSent">
    Письмо отправлено, <br />
    Пожалуйста, проверьте свою почту
  </p>
</div>
