<form [formGroup]="authForm">
  <div class="header">
    <mat-icon class="icon-back" (click)="backToFirstStep()"
      >keyboard_backspace</mat-icon
    >
    <h3 class="registration-header">
      {{ !isRegistered ? "Регистрация" : "Авторизация" }}
    </h3>
  </div>
  <div class="auth-card input-wrapper">
    <input class="input" formControlName="email" readonly />
    <mat-icon class="icon-checked">check</mat-icon>
  </div>
  <div class="control">
    <div
      class="auth-card input-wrapper"
      *ngIf="!isRegistered"
      [class.input-invalid]="
        authForm.get('name')!.invalid && authForm.get('name')!.touched
      "
    >
      <input
        class="input"
        formControlName="name"
        placeholder="Имя"
        autocomplete="cc-given-name"
      />
    </div>
    <span
      class="error"
      *ngIf="authForm.get('name')?.invalid && authForm.get('name')?.touched"
      >{{ (authForm.get("name")?.errors)!["message"] }}</span
    >
  </div>
  <div class="control">
    <div
      class="auth-card input-wrapper"
      [class.input-invalid]="
        authForm.get('password')!.invalid && authForm.get('password')!.touched
      "
    >
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        class="input"
        formControlName="password"
        placeholder="Пароль"
        [autocomplete]="isRegistered ? 'current-password' : ''"
      />
      <button
        type="button"
        class="show-password"
        (click)="passwordVisible = !passwordVisible"
      >
        <mat-icon>{{
          !passwordVisible ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
    </div>
    <span
      class="error"
      *ngIf="
        authForm.get('password')!.invalid && authForm.get('password')!.touched
      "
      >{{
        authForm.get("password")!.errors!["required"]
          ? "Обязательное поле"
          : "Пороль должен содержать минимум 8 символов"
      }}</span
    >
  </div>
  <div class="recover-button-wrapper" *ngIf="isRegistered">
    <button type="button" class="recover-button" (click)="resetPassword()">
      Забыли пороль?
    </button>
  </div>
  <button
    (click)="submit()"
    type="submit"
    class="auth-card submit-button"
    [disabled]="authForm.invalid"
  >
    {{ isRegistered ? "Войти" : "Создать аккаунт" }}
  </button>
  <span *ngIf="error" class="error-text">{{ error }}</span>
</form>
